// Color

$mainColor: #29b6f6;
$mainLightColor: #73e8ff;
$mainDarkColor: #0086c3;

$secondColor: #9ea7aa;
$secondLight: #cfd8dc;
$secondDark: #2c3e50;

$backgroundLight: #ebebeb;

$textColor: #2c3e50;
$lightTextColor: #f5f5f5;
$errorColor: #f44336;
// -------------------

// Shadow

$ShadowVar1: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
$ShadowVar2: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
